@using Microsoft.AspNetCore.Identity;
@using SonMama_Burger.Models.Enum;
@using SonMama_Burger.Models.Entitites;
@using SonMama_Burger.VM;

@model SiparisOlusturVM;

@inject UserManager<AppUser> UserManager;
@{
    ViewData["Title"] = "SiparisOlustur";
    AppUser user = await UserManager.GetUserAsync(User);
}

<div class="container-xxl py-5 bg-dark mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">MENÜLER</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <section class="products">
                @foreach (Menu menu in Model.Menuler)
                {
                    string modalAdi = "modalAdi" + menu.ID.ToString();
                    string modalAdihashtag = "#" + modalAdi;
                    <div class="all-products">
                        <div class="product">
                            <img class="img-fluid" src="@Url.Content(menu.Fotograf)">
                            <div class="product-info">
                                <h4 class="product-title">@menu.Adi Menü</h4>
                                <p class="product-price">@menu.Fiyat</p>
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@modalAdihashtag>
                                        SEPETE EKLE
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id=@modalAdi tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                </div>
                                                <div class="modal-body">
                                                    <form id="modalform-@menu.ID" asp-action="SiparisGonder" method="post">
                                                        <input type="hidden" value="@menu.ID" name="id" />
                                                        <h1>@menu.Adi Menü</h1>
                                                        <hr>
                                                        <table>
                                                            <tr>
                                                                <td>Küçük</td>
                                                                <td>@menu.Fiyat TL</td>
                                                                <td><input type="radio" name="boyut" checked="checked" value="Kucuk,@menu.Fiyat" /></td>
                                                            </tr>
                                                            @{
                                                                decimal ortaFiyat = menu.Fiyat * 1.2M;
                                                            }
                                                            <tr>
                                                                <td>Orta</td>
                                                                <td>@ortaFiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="Orta,@ortaFiyat" /></td>
                                                            </tr>
                                                            @{
                                                                decimal buyukFiyat = menu.Fiyat * 1.4M;
                                                            }
                                                            <tr>
                                                                <td>Büyük</td>
                                                                <td>@buyukFiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="Buyuk,@buyukFiyat" /></td>
                                                            </tr>
                                                        </table>
                                                        <hr />
                                                        <h3>Extra Malzemeler</h3>
                                                        <hr />
                                                        <table>
                                                            <h5>Soslar</h5>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Sos)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat TL</td>
                                                                        <td><input type="checkbox" value="@item.Fiyat" name="extra" /></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                        <hr />
                                                        <table>
                                                            <h5>Tatlılar</h5>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Tatlı)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat TL</td>
                                                                        <td><input type="checkbox" value="@item.Fiyat" name="extra" /></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>
                                                        <hr />
                                                        <table>
                                                            <h5>Aperatifler</h5>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Aperatif)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>@item.Fiyat TL</td>
                                                                        <td><input type="checkbox" value="@item.Fiyat" name="extra" /></td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </table>

                                                        <input type="hidden" value="@user.Id" name="userID" />
                                                        <input type="hidden" value="1" name="adet" />

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                                                            <input type="submit" class="btn btn-primary" asp-action="SiparisGonder" asp-controller="Siparis" asp-area="User" value="Sepete Ekle" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>

        <div class="col-3" id="siparisListesi">
            <table class="table table-hover table-warning">
                <thead>
                    <tr>
                        <th>Ürünleriniz</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="urunListesi"></tbody>
            </table>
            <button id="siparisiTamamla" class="btn btn-success" asp-action="SepetiOnayla" asp-route-id="@user.Id">Siparişi Tamamla</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('form[id^="modalform"]').forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(this);
                const boyutValue = formData.get('boyut');
                const [boyut, fiyat] = boyutValue.split(',');

                // Fiyat için gizli input ekle veya güncelle
                let fiyatInput = this.querySelector('input[name="fiyat"]');
                if (!fiyatInput) {
                    fiyatInput = document.createElement('input');
                    fiyatInput.type = 'hidden';
                    fiyatInput.name = 'fiyat';
                    this.appendChild(fiyatInput);
                }

                // Ekstra malzemelerin fiyatlarını topla
                let extraFiyatToplam = 0;
                formData.getAll('extra').forEach(fiyat => {
                    extraFiyatToplam += parseFloat(fiyat);
                });

                // Toplam fiyatı hesapla ve gizli inputa ata
                let toplamFiyat = (parseFloat(fiyat) + extraFiyatToplam);
                fiyatInput.value = toplamFiyat;

                // Boyut için gerekli inputu ekle veya güncelle
                let boyutInput = this.querySelector('input[name="boyutHidden"]');
                if (!boyutInput) {
                    boyutInput = document.createElement('input');
                    boyutInput.type = 'hidden';
                    boyutInput.name = 'boyutHidden';
                    this.appendChild(boyutInput);
                }
                boyutInput.value = boyut;

                // Şimdi formu gönder
                this.submit();
            });
        });

        // Siparişi Tamamla butonuna tıklandığında
        document.getElementById('siparisiTamamla').addEventListener('click', function () {
            // Burada yapılacak işlemler: Örneğin, sepeti temizleme veya siparişi tamamlama
            // Örnek olarak, sepetteki ürünlerin listesini console'a yazdırabiliriz
            const urunListesi = document.getElementById('urunListesi').getElementsByTagName('tr');
            Array.from(urunListesi).forEach(urun => {
                console.log(urun.innerText);
            });
        });
    });

    
     

     

</script>